langchain
ipykernel
python-dotenv
langchain_community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
lxml
python-dotenv
langchain-openai
chromadb
langchain-community
torch
transformers
sentence_transformers
langchain_huggingface
faiss-cpu
chromadb
langchain_chroma
beautifulsoup4
streamlit
